{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Viki records
        </h1>

    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-sm-12">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Per page: {{per_page}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/viki?per_page=10">10</a></li>
            <li><a href="/viki?per_page=20">20</a></li>
            <li><a href="/viki?per_page=50">50</a></li>
          </ul>
        </div>
        <ul class="pagination">
            {{ pagination.links()|safe }}
        </ul>
    </div>


        <div class="col-lg-3 col-sm-6">

            <button class="btn btn-block" type="button" data-toggle="modal" data-target="#search-box">Text Search</button><br>
            <button class="btn btn-block" type="button" data-toggle="modal" data-target="#query-box">Field Search</button><br>
        </div>
        <div class="col-lg-3 col-sm-6">
            <button class="btn btn-block" type="button" data-toggle="modal" data-target="#query-box">Query search</button><br>

        </div>
    </div>
        <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                {% for key in pagination.items()[0].keys() %}
                {% if key not in banned_fields %}
                <th>{{ key }}</th>
                {% endif %}
                {% endfor %}
            </thead>
            <tbody>
                {% for record in pagination.items() %}
                {% set count = loop.index %}
                <tr>
                    {% for key in pagination.items()[0].keys() %}
                    {% if key == 'scripts' %}
                    <td>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".demo{{count}}">Show scripts</button>
                        <div class="demo{{count}} collapse">{{ record[key] }}</div>
                    </td>
                    {% elif key not in banned_fields %}
                    <td>{{ record[key] }}</td>
                    {% else %}
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <ul class="pagination">
            {{ pagination.links()|safe }}
        </ul>
        </div>
    </div>
</div>
<div id="search-box" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Search box</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline" role="form">

                  <div class="form-group col-sm-6">
                    <label for="email2" class="control-label">Value</label>
                    <input type="email" class="form-control" id="email2">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-default">Search</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="query-box" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fields search</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline" role="form" action="/viki" method="post">
                    {% for key in pagination.items()[0].keys() %}
                  <div class="input-group col-sm-4">
                    <input type="text" class="form-control mb-1 mr-sm-1 mb-sm-0" name="fields" value="{{key}}" disabled>
                  </div>
                    <input type="hidden" class="form-control mb-1 mr-sm-1 mb-sm-0" name="fields" value="{{key}}">
                  <div class="input-group col-sm-3">
                    <select class="form-control" id="operation" name="operations">
                        <option name="Equal" value="Equal">Equal</option>
                        {% for operation in operations %}
                        <option name="{{operation}}" value="{{operation}}">{{operation}}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="input-group col-sm-4">
                    <input type="text" class="form-control mb-1 mr-sm-1 mb-sm-0" name="values" placeholder="Value">
                  </div>

                    {% endfor %}
                  <div class="input-group">
                    <input type="submit" class="btn btn-default" value="Search">
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}